@page
@model Cms.Clients.AdminPanel.Pages.User.EditModel
@{
    ViewBag.Title = "ویرایش کاربر";
    ViewBag.Page = "کاربران";
}

<form method="post">
    <input type="hidden" asp-for="User.Id" />
                
    <div class="col-md-12 mb-lg-0 mb-4">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">ویرایش کاربر</h3>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg ">
                            <label>نام : </label>
                            <input type="text" class="form-control" asp-for="User.Name" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg">
                            <label>نام کاربری : </label>
                            <input type="text" class="form-control" asp-for="User.UserName" />
                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg ">
                            <label>شماره موبایل : </label>
                            <input type="text" class="form-control" asp-for="User.PhoneNumber" />
                            <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg">
                            <label>ایمیل : </label>
                            <input type="text" class="form-control" asp-for="User.Email" />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg ">
                            <spna>اگر میخواهید رمز عبور را عوض کنید این دو فیلد را پر کنید!</spna>
                            <label>رمز عبور : </label>
                            <input type="password" class="form-control" asp-for="User.Password" />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg">
                            <label>تکرار رمز عبور : </label>
                            <input type="password" class="form-control" asp-for="User.Re_Password" />
                            <span asp-validation-for="User.Re_Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg">
                            <label>نقش ها : </label>

                            <div class="row">
                                @foreach (var role in Model.RoleList)
                                {
                                    <div class="m-4">
                                        @role.NormalizedName
                                        <input type="checkbox" value="@role.Name" name="UserRoleSelected" checked="@Model.UserRoles.Contains(role.Name)" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-md-0 mb-4 mt-4">
                    <div class="card">
                        <input type="submit" class="btn-warning btn" value="ویرایش کاربر" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>