@page "{id}"
@using Cms.Clients.AdminPanel.Tools
@inject IConfiguration _config;
@model Cms.Clients.AdminPanel.Pages.News.DetailsModel
@{
    string imageAddress = _config.GetSection("ApiUrl").Value + $"/api/fileManager/getimage?imageName={Model.News.MainImageName}&&folder=news";
    ViewBag.Title = "جزئیات سند";
    ViewBag.Page = "جزئیات سند";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">جزئیات سند</h3>
    </div>
    <div class="col-md-12 mb-lg-0 mb-4">
        <div class="card mt-4">

            <div class="card-body p-3">

                <div class="col-md-12 mb-md-0 mb-3">
                    <img src="@imageAddress" class="img-thumbnail col-md-12 h-50" />
                </div>

                <div class="row mt-4">
                    <div class="col-md-12 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg ">
                            <label>متن : <span class="text-danger">*</span> </label>

                            <div class="col-md-12">
                                <div class="card card-info ">
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="mb-3 mt-3">
                                            <textarea id="editor1" disabled asp-for="News.Text" style="width: 100%">لطفا متن مورد نظر خودتان را وارد کنید</textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card -->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">              
                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg ">
                            <label>تاریخ انتشار : <span class="text-danger">*</span> </label>
                            <input type="text" class="form-control" disabled value="@DateTime.Parse(Model.News.PublishDate)" placeholder="تاریخ انتشار" />
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            ClassicEditor
                .create(document.querySelector('#editor1'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            // bootstrap WYSIHTML5 - text editor

            $('.textarea').wysihtml5({
                toolbar: { fa: true }
            })
        })
    </script>
}
