@page
@model Cms.Endpoints.AdminPanel.Pages.News.CreateModel
@{
}

@{
    ViewData["Title"] = "Add - Invoice";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/quill/typography.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/katex.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/editor.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/dropzone/dropzone.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/tagify/tagify.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/jstree/jstree.dist.css" />

    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/jquery-timepicker/jquery-timepicker.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/pickr/pickr-themes.dist.css" />
}
<!-- assets/vendor/libs/dropzone/dropzone.dist.css -->
@section VendorScripts {
    <script src="~/vendor/libs/quill/katex.dist.js"></script>
    <script src="~/vendor/libs/quill/quill.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/dropzone/dropzone.dist.js"></script>
    <script src="~/vendor/libs/jquery-repeater/jquery-repeater.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>
    <script src="~/vendor/libs/tagify/tagify.dist.js"></script>
    <script src="~/vendor/libs/ckeditor/ckeditor.js"></script>
    <script src="~/vendor/libs/jstree/jstree.dist.js"></script>
    <script src="~/vendor/libs/pickr/pickr.dist.js"></script>
    <script src="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>

}

@section PageScripts {
    <script src="~/js/app-ecommerce-product-add.dist.js"></script>
    <script src="~/js/ckEditor.js"></script>
    <script src="~/js/MyUploader.js"></script>
    <script src="~/js/extended-ui-treeview.dist.js"></script>
    <script src="~/js/forms-pickers.dist.js"></script>
}

@* ************** Content ************** *@
<form method="post" enctype="multipart/form-data">
    <div class="row invoice-add">

        <!-- News Add-->
        <div class="col-lg-9 col-12 mb-lg-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="row m-sm-4 m-0">
                        <div class="col-md-7 mb-md-0 mb-4">
                            <div class="d-flex svg-illustration mb-3 gap-2 align-items-center">

                                <span class="app-brand-text fw-bold">
                                    انتشار خبر
                                </span>
                            </div>
                            <p class="mb-2">انتشار اخبار، اطلاعیه ها،رویدادها و ...</p>
                        </div>
                        <div class="col-md-5">
                            <dl class="row mb-2">
                                <dt class="col-sm-6 mb-2 mb-sm-0 text-md-end ps-0">
                                    <span class="h4 text-capitalize mb-0 text-nowrap">خبر</span>
                                </dt>
                                <dd class="col-sm-6 d-flex justify-content-md-end pe-0 ps-0 ps-sm-2">
                                    <div class="input-group input-group-merge disabled w-px-150">
                                        <span class="input-group-text">#</span>
                                        <input type="text" class="form-control p-2" disabled placeholder="3905" value="3905" id="invoiceId" />
                                    </div>
                                </dd>
                                <dt class="col-sm-6 mb-2 mb-sm-0 text-md-end ps-0">
                                    <span class="fw-normal">تاریخ انتشار:</span>
                                </dt>
                                <dd class="col-sm-6 d-flex justify-content-md-end pe-0 ps-0 ps-sm-2">
                                    <input type="text" class="form-control" asp-for="News.PublishDate" placeholder="YYYY-MM-DD" id="flatpickr-date" />
                                </dd>
                                <span asp-validation-for="News.PublishDate" class="text-danger"></span>
                            </dl>
                        </div>
                    </div>

                    <hr class="my-3 mx-n4" />

                    <div class="row p-sm-4 p-0">
                        <div class="app-ecommerce">
                            <div class="row">

                                <!-- First column-->
                                <div class="col-12 col-lg-12">
                                    <!-- Product Information -->
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h5 class="card-tile mb-0">جزئیات خبر</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="form-label" for="ecommerce-news-title">عنوان</label>
                                                <input type="text" class="form-control" id="ecommerce-news-title" placeholder="عنوان خبر" asp-for="News.Title" aria-label="News title">
                                                <span asp-validation-for="News.Title" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="ecommerce-news-introduction">مقدمه</label>
                                                <input type="text" class="form-control" id="ecommerce-news-introduction" placeholder="مقدمه خبر" asp-for="News.Introduction" aria-label="News introduction">
                                                <span asp-validation-for="News.Introduction" class="text-danger"></span>
                                            </div>
                                            <!-- Description -->

                                            <div class="mb-3">
                                                <label class="form-label" for="ecommerce-sweeper-link">متن</label>
                                                <div class="col-md-12">
                                                    <div class="mb-3 mt-3">
                                                        <textarea id="editor1" asp-for="News.Text" style="width: 100%">لطفا متن مورد نظر خودتان را وارد کنید</textarea>
                                                        <span asp-validation-for="News.Text" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Information -->
                                    <!-- Media -->
                                    <!-- /Media -->
                                </div>
                                <!-- /Second column -->
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Basic  -->
                        <div class="card mb-4">
                            <h5 class="card-header">تصویر اصلی خبر</h5>
                            <div class="card-body">
                                <div class="dz-preview dz-processing dz-image-preview dz-complete" id="preview">
                                    <div class="dz-details">
                                        <div class="dz-thumbnail">
                                            <img id="imageBox">
                                            <span class="dz-nopreview">No preview</span>
                                            <div class="dz-success-mark"></div>
                                            <div class="dz-error-mark"></div>
                                            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress="" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="dz-remove" onclick="clearFileInput('image','imageBox')" data-dz-remove="">Remove file</a>

                                </div>
                                <div class="col-12">
                                    <div class="card-body demo-vertical-spacing demo-only-element">
                                        <div class="input-group">
                                            <input type="file" class="form-control" asp-for="Image" id="image">
                                            <label class="input-group-text" for="mainImage">Upload</label>
                                        </div>
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Basic  -->
                        <!-- Multi  -->
                        <div class="card mb-4">
                            <h5 class="card-header">تصاویر جانبی خبر</h5>
                            <div class="card-body">

                                <div class="dz-preview dz-processing dz-image-preview dz-complete" id="secondPreview">
                                    <div class="dz-details">
                                        <div class="dz-thumbnail">
                                            <img id="secondImageBox">
                                            <span class="dz-nopreview">No preview</span>
                                            <div class="dz-success-mark"></div>
                                            <div class="dz-error-mark"></div>
                                            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress="" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="dz-remove" onclick="clearFileInput('newsSecondImage','secondImageBox','secondPreview')" data-dz-remove="">Remove file</a>

                                </div>

                                <div class="dz-preview dz-processing dz-image-preview dz-complete" id="thirdPreview">
                                    <div class="dz-details">
                                        <div class="dz-thumbnail">
                                            <img id="thirdImageBox">
                                            <span class="dz-nopreview">No preview</span>
                                            <div class="dz-success-mark"></div>
                                            <div class="dz-error-mark"></div>
                                            <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress="" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="dz-remove" onclick="clearFileInput('newsThirdImage','thirdImageBox','thirdPreview')" data-dz-remove="">Remove file</a>

                                </div>
                                <div class="col-12">
                                    <div class="card-body demo-vertical-spacing demo-only-element">
                                        <div class="input-group">
                                            <input type="file" class="form-control" asp-for="SecondImage" id="newsSecondImage">
                                            <label class="input-group-text" for="mainImage">Upload</label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="SecondImage" class="text-danger"></span>
                                    <div class="card-body demo-vertical-spacing demo-only-element">
                                        <div class="input-group">
                                            <input type="file" class="form-control" asp-for="ThirdImage" id="newsThirdImage">
                                            <label class="input-group-text" for="mainImage">Upload</label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="ThirdImage" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Multi  -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Invoice Add-->
        <!-- Invoice Actions -->
        <div class="col-lg-3 col-12 invoice-actions">
            <div class="card mb-4">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary d-grid w-100 mb-2">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"><i class="ti ti-send ti-xs me-2"></i>انتشار خبر</span>
                    </button>
                    <a href="/news/list" class="btn btn-label-secondary d-grid w-100">بازگشت</a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <p class="mb-2">نوع خبر را مشخص کنید</p>
                    <select class="form-select" asp-for="News.NewsTypeId">
                        @foreach (var newsType in Model.NewsTypes)
                        {
                            <option value="@newsType.Id">@newsType.Title</option>
                        }
                    </select>
                    <span asp-validation-for="News.NewsTypeId" class="text-danger"></span>
                </div>

                <div class="card-body">
                    <p class="mb-2">محتوای خبر به چه زبانی است؟</p>
                    <select class="form-select mb-4" asp-for="News.LanguageId">
                        @foreach (var language in Model.Languages)
                        {
                            <option value="@language.Id">@language.Title</option>
                        }
                    </select>
                    <span asp-validation-for="News.LanguageId" class="text-danger"></span>
                </div>
            </div>

            <!-- Basic -->
            <div class="card mb-4">
                <h5 class="card-header">آدرس فیزیکی تصاویر خبر</h5>
                <div class="card-body">
                    <div id="jstree-basic">
                        <ul>
                            <li class="jstree-open" data-jstree='{"icon" : "ti ti-folder"}'>
                                File Manager
                                <ul data-jstree='{"icon" : "ti ti-folder"}'>
                                    <li class="jstree-open" data-jstree='{"icon" : "ti ti-folder"}'>
                                        Img
                                        <ul>
                                            <li class="jstree-open" data-jstree='{"icon" : "ti ti-folder"}'>
                                                News
                                            </li>

                                            <li class="jstree-open " data-jstree='{"icon" : "ti ti-folder"}'>
                                                Thumb
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Basic -->


        </div>
        <!-- /Invoice Actions -->

    </div>
</form>
