@page
@inject IConfiguration _config;
@model Cms.Clients.AdminPanel.Pages.Role.IndexModel
@{
    ViewBag.Title = "لیست نقش های کابری";
    ViewBag.Page = "نقش کاربری";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <a href="/role/create" class="btn btn-success text-white m-3">ایجاد نقش جدید</a>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>نام</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.RoleList.ToList())
                        {
                            <tr id="user[@role.Id]">
                                <td>@role.NormalizedName</td>
                                <td>@role.Name</td>
                                <td>
                                    <a href="/role/edit?id=@role.Id" class="text-white btn btn-primary">ویرایش</a>
                                    <a href="/Role/Delete?id=@role.Id" class="text-white btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
