@page "/"
@model Cms.Clients.AdminPanel.Pages.Admin.DashBoardModel
@{
    ViewBag.Title = "پنل مدیریت موزه";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>150</h3>

                <p>سفارشات جدید</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>افزایش امتیاز</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>            
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>

                <p>کاربران ثبت شده</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>            
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>65</h3>

                <p>بازدید جدید</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>            
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->


<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
        <!-- Calendar -->
        <div class="card bg-success-gradient">
            <div class="card-header no-border">

                <h3 class="card-title">
                    <i class="fa fa-calendar"></i>
                    تقویم
                </h3>
                <!-- tools card -->
                <div class="card-tools">
                    <!-- button with a dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu float-right" role="menu">
                            <a href="#" class="dropdown-item">رویداد تازه</a>
                            <a href="#" class="dropdown-item">حذف رویدادها</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">نمایش تقویم</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <!--The calendar -->
                <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- TO DO List -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    لیست کارها
                </h3>

                <div class="card-tools">
                    <ul class="pagination pagination-sm">
                        <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <ul class="todo-list">
                    <li>
                        <!-- drag handle -->
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <!-- checkbox -->
                        <input type="checkbox" value="" name="">
                        <!-- todo text -->
                        <span class="text">طراحی یک قالب زیبا</span>
                        <!-- Emphasis label -->
                        <small class="badge badge-danger"><i class="fa fa-clock-o"></i> 2 دقیقه</small>
                        <!-- General tools such as edit or delete-->
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="" name="">
                        <span class="text">رسپانسیو کردن قالب مورد نظر</span>
                        <small class="badge badge-info"><i class="fa fa-clock-o"></i> 4 ساعت</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="" name="">
                        <span class="text">ارائه قالب برای استفاده بقیه</span>
                        <small class="badge badge-warning"><i class="fa fa-clock-o"></i> 1 روز</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="" name="">
                        <span class="text">بهینه سازی بخش های بوجود اومده</span>
                        <small class="badge badge-success"><i class="fa fa-clock-o"></i> 3 روز</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="" name="">
                        <span class="text">چک کردن پیام ها و نوتیفیکیشن ها</span>
                        <small class="badge badge-primary"><i class="fa fa-clock-o"></i> 1 هفته</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="" name="">
                        <span class="text">طراحی صفحه ایمیل جدید</span>
                        <small class="badge badge-secondary"><i class="fa fa-clock-o"></i> 1 ماه</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <button type="button" class="btn btn-info float-right"><i class="fa fa-plus"></i> جدید</button>
            </div>
        </div>
       
        <!-- /.card -->

    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">

        <!-- Map card -->
        <div class="card bg-primary-gradient">
            <div class="card-header no-border">
                <h3 class="card-title">
                    <i class="fa fa-map-marker mr-1"></i>
                    بازدید‌ها
                </h3>
                <!-- card tools -->
                <div class="card-tools">
                    <button type="button"
                            class="btn btn-primary btn-sm daterange"
                            data-toggle="tooltip"
                            title="Date range">
                        <i class="fa fa-calendar"></i>
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            data-widget="collapse"
                            data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="card-body">
                <div id="world-map" style="height: 250px; width: 100%;"></div>
            </div>
            <!-- /.card-body-->
            <div class="card-footer bg-transparent">
                <div class="row">
                    <div class="col-4 text-center">
                        <div id="sparkline-1"></div>
                        <div class="text-white">بازدید‌ها</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-4 text-center">
                        <div id="sparkline-2"></div>
                        <div class="text-white">آنلاین</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-4 text-center">
                        <div id="sparkline-3"></div>
                        <div class="text-white">فروش</div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.card -->

        <!-- User List -->
            <div class="">
                <!-- USERS LIST -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">آخرین اعضا</h3>

                        <div class="card-tools">
                            <span class="badge badge-danger">8 پیام جدید</span>
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="users-list clearfix">
                            <li>
                                <img src="dist/img/user1-128x128.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">حسام موسوی</a>
                                <span class="users-list-date">امروز</span>
                            </li>
                            <li>
                                <img src="dist/img/user8-128x128.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">ایمان</a>
                                <span class="users-list-date">دیروز</span>
                            </li>
                            <li>
                                <img src="dist/img/user7-128x128.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">فاطمه</a>
                                <span class="users-list-date">۱۷ اسفند</span>
                            </li>
                            <li>
                                <img src="dist/img/user6-128x128.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">جان</a>
                                <span class="users-list-date">۱۴ اسفند</span>
                            </li>
                            <li>
                                <img src="dist/img/user2-160x160.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">محمد</a>
                                <span class="users-list-date">۱۲ دی</span>
                            </li>
                            <li>
                                <img src="dist/img/user5-128x128.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">سارا</a>
                                <span class="users-list-date">۱۲ دی</span>
                            </li>
                            <li>
                                <img src="dist/img/user4-128x128.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">مریم</a>
                                <span class="users-list-date">۱۲ دی</span>
                            </li>
                            <li>
                                <img src="dist/img/user3-128x128.jpg" alt="User Image">
                                <a class="users-list-name mt-2" href="#">نادیا</a>
                                <span class="users-list-date">۱۱ دی</span>
                            </li>
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="#">مشاهده همه کاربران</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!--/.card -->
            </div>
        <!-- /.card -->
        
        <!-- /.card -->

    </section>
    <!-- right col -->
</div>
<!-- /.row (main row) -->