@page
@using Cms.Clients.AdminPanel.Pages.News
@model IndexModel
@{
    ViewBag.Title = "لیست اخبار";
    ViewBag.Page = "اخبار";
}


<div class="row">
    <div class="col-12">
        <div class="card">         
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>نویسنده</th>
                            <th>تاریخ انتشار</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var news in Model.NewsList.QueryResult.ToList())
                        {
                            <tr>
                                <td>@news.Title</td>
                                <td>
                               ادمین
                                </td>
                                <td>@news.PublishDate</td>
                                <td>
                                    <a class="text-white btn btn-primary">جزئیات</a>
                                    <a class="text-white btn btn-primary">ویرایش</a>
                                    <a class="text-white btn btn-danger">حذف</a>
                                </td>                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>