@page
@using Cms.Clients.AdminPanel.Pages.News
@inject IConfiguration _config;
@model IndexModel
@{
    ViewBag.Title = "لیست اخبار";
    ViewBag.Page = "اخبار";
}


<div class="row">
    <div class="col-12">
        <div class="card">         
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            @* <th>نویسنده</th> *@
                            <th>تاریخ انتشار</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var news in Model.NewsList.QueryResult.ToList())
                        {
                            <tr id="news[@news.Id]">
                                <td>@news.Title</td>
                              @*   <td>
                               ادمین
                                </td> *@
                                <td>@news.PublishDate</td>
                                <td>                                    
                                    <a href="/news/edit?id=@news.Id" class="text-white btn btn-primary">ویرایش</a>
                                    <a onclick="Delete(@news.Id)" class="text-white btn btn-danger">حذف</a>
                                </td>                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts {
    <script>
        function Delete(id) {

            if (confirm("آیا از حذف این خبر مطمئن هستید? ")) {
                $.ajax({
                    type: "Get",
                    url: '@_config.GetSection("DomainAddress").Value/News/Delete?id=' + id,
                    success: function () {
                        document.getElementById("news[" + id + "]").setAttribute("style", "display:none");
                    },
                    error: function () {
                        alert("خطایی رخ داده است!");
                    }
                });
            }
        }
    </script>
}
