@page
@model Cms.Identity.Pages.Login.Index

<div class="login-page">
   

    <partial name="_ValidationSummary" />

    <div class="row mt-5" style="margin:0 auto">

        @if (Model.View.EnableLocalLogin)
        {        

            <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
                        </div>

                    </div>
                </div>
            </section>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="float-right">ورود</h2>
                    </div>

                    <div class="card-body">
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div class="form-group">
                                <label class="float-right" asp-for="Input.PhoneNumber">شماره موبایل</label>
                                <input class="form-control" placeholder="PhoneNumber" asp-for="Input.PhoneNumber" autofocus>
                            </div>
                            <div class="form-group">
                                <label class="float-right" asp-for="Input.Password">رمز عبور</label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                            </div>
                            
                            @if (Model.View.AllowRememberLogin)
                            {
                                <div class="form-group float-right">
                                    <div class="form-check">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            مرا به خاطر بسپار
                                        </label>
                                        <input class="form-check-input m-2" asp-for="Input.RememberLogin">
                                    </div>
                                </div>
                            }
                            
                            <button class="btn btn-primary" name="Input.Button" value="login">ورود</button>                            
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.View.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.View.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-page="/ExternalLogin/Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.Input.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>