@page
@model Cms.Clients.AdminPanel.Pages.AboutUs.EditModel
@{
    ViewBag.Title = "ویرایش درباره موزه";
    ViewBag.Page = "درباره موزه";
}
<form enctype="multipart/form-data" method="post">
    <input type="hidden"  asp-for="About.Id" />
    <input type="hidden" value="متنی وجود ندارد" asp-for="About.Introduction" />
    <input type="hidden" asp-for="About.MainImageName" />
    <input type="hidden" asp-for="About.PublishDate" />
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">درباره ما</h3>
        </div>
        <div class="col-md-12 mb-lg-0 mb-4">
            <div class="card mt-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>عنوان : </label>
                                <input type="text" class="form-control" asp-for="About.Title" />
                            </div>
                        </div>
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>نوع خبر : </label>
                                <select class="form-control" asp-for="About.NewsTypeId">
                                    <option selected value="8">درباره موزه</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>زبان : </label>
                                <select class="form-control" asp-for="About.LanguageId">
                                    <option hidden selected>زبان مورد نظر را انتخاب کنید</option>
                                    @foreach (var language in Model.Languages)
                                    {
                                        <option value="@language.Id">@language.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>متن : </label>

                                <div class="col-md-12">
                                    <div class="card card-info ">
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="mb-3 mt-3">
                                                <textarea id="editor1" asp-for="About.Text" style="width: 100%">لطفا متن مورد نظر خودتان را وارد کنید</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card -->

                                </div>
                            </div>
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="card card-body card-plain border-radius-lg ">
                                <label>وضعیت : </label>
                                <select class="form-control" asp-for="About.IsEnable">
                                    <option value="@true">فعال</option>
                                    <option value="@false">غیر فعال</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
           
                <div class="row">
                    <div class="col-md-12 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg ">
                            <label for="exampleInputFile">تصویر اصلی</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="mainImage" id="mainImage">
                                    <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 mb-md-0 mb-4">
                        <div class="card card-body card-plain border-radius-lg ">
                            <input type="submit" class="btn-success btn" value="ایجاد درباره ما" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            ClassicEditor
                .create(document.querySelector('#editor1'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            // bootstrap WYSIHTML5 - text editor

            $('.textarea').wysihtml5({
                toolbar: { fa: true }
            })
        })
    </script>
}