@page
@model Cms.Clients.AdminPanel.Pages.Sweeper.IndexModel
@{
    ViewBag.Title = "لیست اسلاید";
    ViewBag.Page = "اسلایدر";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>عنوان وضعیت</th>                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sweeper in Model.SweeperList.QueryResult.ToList())
                        {
                            <tr>
                                <td>@sweeper.Title</td>                       
                                @if (sweeper.IsEnable)
                                {
                                    <td class="align-middle text-center">
                                        <span class="badge bg-gradient-success">Enable</span>
                                        <i class=" fa fa-check"></i>
                                    </td>
                                }
                                else
                                {
                                    <td class="align-middle text-center">
                                        <span class="badge badge-sm bg-gradient-secondary">Disable</span>
                                        <i class=" fa fa-close"></i>
                                    </td>
                                }
                                <td>
                                    <a class="text-white btn btn-primary">جزئیات</a>
                                    <a class="text-white btn btn-primary">ویرایش</a>
                                    <a class="text-white btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
