@page
@inject IConfiguration _config;
@model Cms.Clients.AdminPanel.Pages.Sweeper.IndexModel
@{
    ViewBag.Title = "لیست اسلاید";
    ViewBag.Page = "اسلایدر";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>عنوان وضعیت</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sweeper in Model.SweeperList.QueryResult.ToList())
                        {
                            <tr id="sweeper[@sweeper.Id]">
                                <td>@sweeper.Title</td>
                                @if (sweeper.IsEnable)
                                {
                                    <td class="align-middle text-center">
                                        <span class="badge bg-gradient-success">Enable</span>
                                        <i class=" fa fa-check"></i>
                                    </td>
                                }
                                else
                                {
                                    <td class="align-middle text-center">
                                        <span class="badge badge-sm bg-gradient-secondary">Disable</span>
                                        <i class=" fa fa-close"></i>
                                    </td>
                                }
                                <td>
                                    <a href="/sweeper/edit?id=@sweeper.Id" class="text-white btn btn-primary">ویرایش</a>
                                    <a onclick="Delete(@sweeper.Id)" class="text-white btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


@section Scripts {
    <script>
        function Delete(id) {

            if (confirm("آیا از حذف این اسلایدر مطمئن هستید? ")) {
                $.ajax({
                    type: "Get",
                    url: '@_config.GetSection("DomainAddress").Value/Sweeper/Delete?id=' + id,
                    success: function () {
                        document.getElementById("sweeper[" + id + "]").setAttribute("style", "display:none");
                    },
                    error: function () {
                        alert("خطایی رخ داده است!");
                    }
                });
            }
        }
    </script>
}