@page
@model Cms.Clients.AdminPanel.Pages.Language.IndexModel
@{
    ViewBag.Title = "زبان ها";
    ViewBag.Page = "زبان ها";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>نام زبان</th>
                            <th>Direction</th>
                            <th>منطقه</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var language in Model.Languages.ToList())
                        {
                            <tr>
                                <td>@language.Title</td>                           
                                <td>@language.Name</td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">@((language.Rtl) ? "RTL" : "LTR")</span>
                                </td>
                                <td>@language.Region</td>
                                <td>
                                    <a class="text-white btn btn-primary">جزئیات</a>
                                    <a class="text-white btn btn-primary">ویرایش</a>
                                    <a class="text-white btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>