@page

@using Cms.Endpoints.AdminPanel.Pages.Users
@model RegsiterModel

@{
    ViewData["Title"] = "کاربران - ایجاد کاربر";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/quill/typography.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/katex.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/editor.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/dropzone/dropzone.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/tagify/tagify.dist.css" />
}
<!-- assets/vendor/libs/dropzone/dropzone.dist.css -->
@section VendorScripts {
    <script src="~/vendor/libs/quill/katex.dist.js"></script>
    <script src="~/vendor/libs/quill/quill.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/dropzone/dropzone.dist.js"></script>
    <script src="~/vendor/libs/jquery-repeater/jquery-repeater.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>
    <script src="~/vendor/libs/tagify/tagify.dist.js"></script>

}

@* ************** Content ************** *@
<h4 class="py-3 mb-0">
    <span class="text-muted fw-light">مدیریت کاربران / </span><span class="fw-medium">ثبت کاربر جدید</span>
</h4>

<form method="post" enctype="multipart/form-data">
    <div class="app-ecommerce">

        <!-- Add User -->
        <div class="d-flex flex-column flex-md-row justify-content-start align-items-start align-items-md-center mb-3">
            <div class="d-flex align-content-center flex-wrap gap-3">
                <button type="submit" class="btn btn-primary">ثبت کاربر جدید</button>
                <div class="d-flex gap-3">
                    <a href="/Users/list" class="btn btn-label-secondary">بازگشت</a>
                </div>
            </div>

        </div>

        <div class="row">

            <!-- First column-->
            <div class="col-12 col-lg-8">
                <!-- User Information -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-tile mb-0">اطلاعات کاربر</h5>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="ecommerce-user-name">نام کاربر</label>
                                <input type="text" class="form-control" id="ecommerce-user-name" placeholder="نام کاربر" asp-for="User.Name" aria-label="user name">
                                <span asp-validation-for="User.Name" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label class="form-label" for="ecommerce-user-userName">نام کاربری</label>
                                <input type="text" class="form-control" id="ecommerce-user-userName" placeholder="نام کاربری" asp-for="User.UserName" aria-label="user name">
                                <span asp-validation-for="User.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label" for="ecommerce-user-phone">شماره موبایل</label>
                                <input type="text" class="form-control" id="ecommerce-user-phone" placeholder="شماره موبایل" asp-for="User.PhoneNumber" aria-label="User Phone">
                                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label class="form-label" for="ecommerce-user-email">ایمیل</label>
                                <input type="text" class="form-control" id="ecommerce-user-email" placeholder="ایمیل" asp-for="User.Email" aria-label="Product barcode">
                                <span asp-validation-for="User.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Information -->

            </div>
            <!-- /Second column -->
            <!-- Second column -->
            <div class="col-12 col-lg-4">
                <!-- Pricing Card -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title mb-0">اطلاعات ورود</h5>
                    </div>
                    <div class="card-body">
                        <!-- Base Price -->
                        <div class="mb-3">
                            <label class="form-label" for="ecommerce-user-password">رمز عبور</label>
                            <input type="password" class="form-control" id="ecommerce-user-password" placeholder="رمز عبور" asp-for="User.Password" aria-label="user password">
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                        <!-- Discounted Price -->
                        <div class="mb-3">
                            <label class="form-label" for="ecommerce-user-repassword">تکرار رمز عبور</label>
                            <input type="password" class="form-control" id="ecommerce-user-repassword" placeholder="تکرار رمز عبور" asp-for="User.RePassword" aria-label="user repassword">
                            <span asp-validation-for="User.RePassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /Pricing Card -->

            </div>
            <!-- /Second column -->

            <div class="col-12 col-lg-12">
                <!-- Organize Card -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title mb-0">نقش کاربری</h5>
                    </div>
                    <div class="card-body">
                        <div class="col-xl-12">
                            <div class="card">
                                <span name="Roles" class="text-danger"></span>
                                <div class="card-body">
                                    <div class="row">
                                        @foreach (var role in Model.RoleList)
                                        {
                                            <div class="col-md-2  m-2">
                                                <div class="form-check custom-option custom-option-icon">
                                                    <label class="form-check-label custom-option-content" for="@role.Id">
                                                        <span class="custom-option-body">
                                                            <i class="ti ti-lock"></i>
                                                            <span class="custom-option-title"> @role.Name </span>
                                                        </span>
                                                        <input class="form-check-input" type="checkbox" value="@role.Name" name="Roles" id="@role.Id" />
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Organize Card -->

            </div>
        </div>
    </div>
</form>