@page "{id}"
@inject IConfiguration _config;
@model Cms.Endpoints.AdminPanel.Pages.Sweeper.EditModel
@{
    ViewData["Title"] = "Add - Invoice";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/quill/typography.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/katex.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/editor.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/dropzone/dropzone.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/tagify/tagify.dist.css" />
}
<!-- assets/vendor/libs/dropzone/dropzone.dist.css -->
@section VendorScripts {
    <script src="~/vendor/libs/quill/katex.dist.js"></script>
    <script src="~/vendor/libs/quill/quill.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/jquery-repeater/jquery-repeater.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>
    <script src="~/vendor/libs/tagify/tagify.dist.js"></script>
    <script src="~/vendor/libs/ckeditor/ckeditor.js"></script>
}

@section PageScripts {
    <script src="~/js/app-ecommerce-product-add.dist.js"></script>
    <script src="~/js/ckEditor.js"></script>
    <script src="~/js/MyUploader.js"></script>
}

@* ************** Content ************** *@
<form method="post" enctype="multipart/form-data">
    <div class="row invoice-add">
        <!-- News Add-->
        <div class="col-lg-9 col-12 mb-lg-0 mb-4">
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="row m-sm-4 m-0">
                        <div class="col-md-7 mb-md-0 mb-4">
                            <div class="d-flex svg-illustration mb-3 gap-2 align-items-center">

                                <span class="app-brand-text fw-bold">
                                    ویرایش اسلایدر
                                </span>
                            </div>
                            <p class="mb-2">ویرایش اسلایدر های صفحه اصلی سایت</p>
                        </div>
                        <div class="col-md-5">
                            <dl class="row mb-2">
                                <dt class="col-sm-6 mb-2 mb-sm-0 text-md-end ps-0">
                                    <span class="h4 text-capitalize mb-0 text-nowrap">اسلایدر</span>
                                </dt>
                                <dd class="col-sm-6 d-flex justify-content-md-end pe-0 ps-0 ps-sm-2">
                                    <div class="input-group input-group-merge disabled w-px-150">
                                        <span class="input-group-text">#</span>
                                        <input type="text" class="form-control" disabled placeholder="@Model.Sweeper.Id" value="3905" id="invoiceId" />
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <hr class="my-3 mx-n4" />

                    <div class="row p-sm-4 p-0">
                        <div class="app-ecommerce">
                            <div class="row">

                                <!-- First column-->
                                <div class="col-12 col-lg-12">
                                    <!-- Product Information -->
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h5 class="card-tile mb-0">اطلاعات اسلایدر</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="form-label" for="ecommerce-sweeper-title">عنوان</label>
                                                <input type="text" class="form-control" id="ecommerce-sweeper-title" placeholder="عنوان اسلایدر" asp-for="Sweeper.Title" aria-label="sweeper title">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="ecommerce-sweeper-link">لینک</label>
                                                <input type="text" class="form-control" id="ecommerce-sweeper-link" placeholder="لینک اسلایدر" asp-for="Sweeper.Link" aria-label="sweeper link">
                                            </div>
                                            <!-- Description -->
                                            <div class="mb-3">
                                                <label class="form-label" for="ecommerce-sweeper-link">متن</label>
                                                <div class="col-md-12">
                                                    <div class="mb-3 mt-3">
                                                        <textarea id="editor1" asp-for="Sweeper.Text" style="width: 100%">لطفا متن مورد نظر خودتان را وارد کنید</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Product Information -->
                                    <!-- Media -->
                                    <div class="card mb-4">
                                        <h5 class="card-header">تصویر اسلایدر</h5>
                                        <div class="card-body">
                                            <div class="dz-preview dz-processing dz-image-preview dz-complete" id="preview">
                                                <div class="dz-details">
                                                    <div class="dz-thumbnail">
                                                        @{
                                                            string imageAddress = _config.GetSection("ApiUrl").Value + $"/api/fileManager/getimage?imageName={Model.Sweeper.ImageName}&&folder=sweeper";
                                                        }
                                                        <img id="imageBox" src="@imageAddress">
                                                        <span class="dz-nopreview">No preview</span>
                                                        <div class="dz-success-mark"></div>
                                                        <div class="dz-error-mark"></div>
                                                        <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress="" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <a class="dz-remove" onclick="clearFileInput('image','imageBox','preview')" data-dz-remove="">Remove file</a>

                                            </div>
                                            <div class="col-12">
                                                <div class="card-body demo-vertical-spacing demo-only-element">
                                                    <div class="input-group">
                                                        <input type="file" class="form-control" asp-for="Image" id="image">
                                                        <label class="input-group-text" for="mainImage">Upload</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Media -->
                                </div>
                                <!-- /Second column -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Invoice Add-->
        <!-- Invoice Actions -->
        <div class="col-lg-3 col-12 invoice-actions">
            <div class="card mb-4">
                <div class="card-body">
                    <button onclick="text" class="btn btn-primary d-grid w-100 mb-2" type="submit">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"><i class="ti ti-send ti-xs me-2"></i>ویرایش اسلایدر</span>
                    </button>
                    <a href="/sweeper/list" class="btn btn-label-secondary d-grid w-100">بازگشت</a>
                </div>
            </div>
            <div>
                <p class="mb-2">محتوای اسلایدر به چه زبانی است؟</p>
                <select class="form-select mb-4" asp-for="Sweeper.LanguageId">
                    @foreach (var language in Model.Languages)
                    {
                        <option value="@language.Id">@language.Title</option>
                    }
                </select>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>

</form>

<!-- Offcanvas -->
@await Html.PartialAsync("../_Partials/_Offcanvas/OffcanvasSendInvoice")
<!-- /Offcanvas -->
