@page
@inject IConfiguration _config;
@using Cms.Endpoints.AdminPanel.Pages.Sweeper
@model ListModel

@{
    ViewData["Title"] = "اسلایدر - جزئیات";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/plyr/plyr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/plyr/plyr.dist.js"></script>    
    <script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/app-academy.dist.css" />
}

@section PageScripts {
    <script src="~/js/app-academy-course.dist.js"></script>
    <script src="~/js/extended-ui-sweetalert2.dist.js"></script>
    <script src="~/js/delete-model.js"></script>
}

@* ************** Content ************** *@

<h4 class="py-3 mb-4"><span class="text-muted fw-light">اسلایدر/</span> لیست اسلایدر ها</h4>

<div class="app-academy">
    
    <div class="card mb-4">
        <div class="card-header d-flex flex-wrap justify-content-between gap-3">
            <div class="card-title mb-0 me-1">
                <h5 class="mb-1">اسلایدر ها</h5>                
            </div>            
        </div>
        <div class="card-body">
            <div class="row gy-4 mb-4">
                @foreach (var sweeper in Model.SweeperList.QueryResult)
                {
                    string imageAddress = _config.GetSection("ApiUrl").Value + $"/api/fileManager/getimage?imageName={sweeper.ImageName}&&folder=sweeper";

                    <div class="col-sm-6 col-lg-4">
                        <div class="card p-2 h-100 shadow-none border">
                            <div class="rounded-2 text-center mb-3">
                                <a href="CourseDetails"><img class="img-fluid" src="@imageAddress" alt="tutor image 1" /></a>
                            </div>
                            <div class="card-body p-3 pt-2">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="badge bg-label-primary">Sweeper</span>
                                    <h6 class="d-flex align-items-center justify-content-center gap-1 mb-0">
                                        <span class="text-warning"><i class="ti ti-star-filled me-1 mt-n1"></i>
                                    </h6>
                                </div>
                                <a href="CourseDetails" class="h5">@sweeper.Title</a>
                                <p class="mt-2">@Html.Raw(sweeper.Text)</p>
                                <p class="d-flex align-items-center"><i class="ti ti-clock me-2 mt-n1"></i>1403/05/04</p>
                                <div class="d-flex flex-column flex-md-row gap-2 text-nowrap">
                                    @{
                                        string domain = @_config.GetSection("DomainAddress").Value.ToString();
                                    }
                                    <a href="#" onclick="deleteItem('@domain/sweeper/delete/@sweeper.Id','@domain/sweeper/list')" class="app-academy-md-50 btn btn-label-danger me-md-2 d-flex align-items-center">
                                        <i class="ti ti-trash align-middle scaleX-n1-rtl  me-2 mt-n1 ti-sm"></i><span>حذف</span>
                                    </a>
                                    <a class="app-academy-md-50 btn btn-label-primary d-flex align-items-center" href="/sweeper/edit/@sweeper.Id">
                                        <span class="me-2">ویرایش</span><i class="ti ti-chevron-right scaleX-n1-rtl ti-sm"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>            
        </div>
    </div>

</div>
